* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --red: #ff5f5f;
  --yellow: #ffd700;
  --green: #77dd77;
  --blue: #6fa7e3;
  --brown: #8b4513;
  --purple: #9354b9;
}
